#
# .env file: Environment variables for Jellyfin Docker Compose configuration.
#

#
# Name of the project which adds namespace for all services and volumes
#
COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME:-jellyfin}
COMPOSE_NETWORK_SUBNET="${COMPOSE_NETWORK_SUBNET:-0.0.0.0/16}"
COMPOSE_NETWORK_IP_RANGE="${COMPOSE_NETWORK_IP_RANGE:-0.0.0.0/24}"
COMPOSE_NETWORK_GATEWAY="${COMPOSE_NETWORK_GATEWAY:-0.0.0.0}"

#
# Container user information
#
DEFAULT_UID="${DEFAULT_UID:-1000}"
DEFAULT_GID="${DEFAULT_GID:-1000}"

#
# Standard healthcheck timing settings
#
DEFAULT_HEALTHCHECK_INTERVAL="${DEFAULT_HEALTHCHECK_INTERVAL:-10s}"
DEFAULT_HEALTHCHECK_TIMEOUT="${DEFAULT_HEALTHCHECK_TIMEOUT:-10s}"
DEFAULT_HEALTHCHECK_START_PERIOD="${DEFAULT_HEALTHCHECK_START_PERIOD:-10s}"

#
# Container logging settings
#
LOG_MAX_SIZE="${LOG_MAX_SIZE:-50M}"
LOG_MAX_FILE="${LOG_MAX_FILE:-3}"

#
# Timezone for containers
#
TZ="${TZ:-America/New_York}"

#
# Jellyfin environment variables
#
JELLYFIN_TAG="${JELLYFIN_TAG:-latest}"
JELLYFIN_PORT="${JELLYFIN_PORT:-8096}"
JELLYFIN_CONFIG_PATH="${JELLYFIN_CONFIG_PATH:-/volume1/docker/jellyfin/config/config}"
JELLYFIN_CACHE_PATH="${JELLYFIN_CACHE_PATH:-/volume1/docker/jellyfin/config/cache}"
JELLYFIN_LOGS_PATH="${JELLYFIN_LOGS_PATH:-/volume1/docker/jellyfin/config/logs}"
JELLYFIN_DATA_PATH="${JELLYFIN_DATA_PATH:-/volume1/jellyfin}"
